---
import Layout from '@/layouts/Layout.astro';
import settings from '@/data/site/settings.json';
import PageH1 from '@/ui/page-h1/PageH1.astro';
import UniversalSection from '@/blocks/rich-content/RichContentBlock.astro';

import { phoneFormat } from '@/js/utils/numbers.format';

const { brand, legal_city_where, site_name, phone_common } = settings;

const sections = [
  {
    id: "1",
    sectionClass: "bg-gray-100",
    images: [
      {
        title: "DUX 1",
        description: "Обновление знаменитой модели DUX 1. Применение новейших алюминево-кремниевых сплавов позволило создать литой диск, который по своим характеристикам прочности и легкости максимально приближен к кованым собратьям. 10 изогнутых спиц особой конструкции формируют идеальный дизайн легкосплавного диска.",
        url: "https://cdn.alexsab.ru/pages/toyota/legkosplavnye-diski-khann/1.webp"
      },
      {
        title: "DUX 2",
        description: "В дизайн этого выразительного диска специально закладывалась форма со спицами в виде звезды. Благодаря массивной центральной части и удаленному от нее креплению спиц, диск визуально выглядит больше своего реального размера.",
        url: "https://cdn.alexsab.ru/pages/toyota/legkosplavnye-diski-khann/2.webp"
      },
      {
        title: "DUX 3",
        description: "Изогнутая форма сдвоенных десяти спиц подчеркивает агрессивность дизайна и олицетворяет собой движение. Диск DUX 3 – это волнующее взаимодействие цвета и формы. Идеальный колесный диск для ценителей высокого качества и мастерства изготовления до самых мелких деталей.",
        url: "https://cdn.alexsab.ru/pages/toyota/legkosplavnye-diski-khann/3.webp"
      },
      {
        title: "DUX 4",
        description: "Масса деталей этого колесного диска вместе составляют завершенный и новаторский дизайн. Слегка изогнутые спицы с индустриальным дизайном формируют законченный образ совершенного диска.",
        url: "https://cdn.alexsab.ru/pages/toyota/legkosplavnye-diski-khann/4.webp"
      },
      {
        title: "DUX 5",
        description: "V-образное переплетение линей, добавляет изящества и интриги в дизайн этого великолепного диска. Основной акцент сделан на премиальность общего восприятия, присущего внедорожникам Lexus и Toyota",
        url: "https://cdn.alexsab.ru/pages/toyota/legkosplavnye-diski-khann/5.webp"
      },
      {
        title: "DUX 6",
        description: "Изящество прямых линий в сочетании с округлыми формами. Пятиконечная звезда еще никогда не была столь технологичной и притягательной.",
        url: "https://cdn.alexsab.ru/pages/toyota/legkosplavnye-diski-khann/6.webp"
      },
      {
        title: "DUX 7",
        description: "Изящество прямых линий в сочетании с округлыми формами. Конструктивной особенностью является особое сечение шести спиц, придающее дискам первоклассный вид.",
        url: "https://cdn.alexsab.ru/pages/toyota/legkosplavnye-diski-khann/7.webp"
      },
      {
        title: "DUX 8",
        description: "Бескомпромиссные, спортивные, притягательные. Эти кованые диски идеально подойдут для установки на автомобили Lexus и Toyota и добавят им индивидуальности и шарма. Различные варианты окраски позволяют видоизменить дизайн диска под ваши предпочтения. Возможно исполнение с увеличенной нагрузкой для бронированных автомобилей.",
        url: "https://cdn.alexsab.ru/pages/toyota/legkosplavnye-diski-khann/8.webp"
      },
      {
        title: "DUX 9",
        description: "Сбалансированный дизайн этих 10-ти лучевых дисков содержит в себе остроту линий и сглаженность общих форм. Эффектный внешний вид дополняют различные варианты окраски в зависимости от ваших предпочтений.",
        url: "https://cdn.alexsab.ru/pages/toyota/legkosplavnye-diski-khann/9.webp"
      },
      {
        title: "DUX 10",
        description: "Закрученный дизайн спиц этого диска создает иллюзию движения, даже когда диск находится в неподвижном состоянии. Это по истине украшение любого автомобиля, доступное в различных цветовых решениях.",
        url: "https://cdn.alexsab.ru/pages/toyota/legkosplavnye-diski-khann/10.webp"
      },
      {
        title: "DUX 11",
        description: "15 спиц особой гармоничной формы создают элегантный классический образ в меру приправленный оригинальными дизайнерскими решения. Доступные варианты окраски позволяют выбрать свой неповторимый стиль.",
        url: "https://cdn.alexsab.ru/pages/toyota/legkosplavnye-diski-khann/11.webp"
      },
      {
        title: "DUX 12",
        description: "Особый дизайн линий и спиц этого диска покоряет с первого взгляда. Сглаженные формы и точёные контуры придают диску динамичный и выразительный вид. Темно-серый цвет в матовом или глянцевом исполнении усиливает это впечатление. Множество уникальных деталей этого диска эффектно подчеркнут элегантность и мощь вашего автомобиля.",
        url: "https://cdn.alexsab.ru/pages/toyota/legkosplavnye-diski-khann/12.webp"
      },
      {
        title: "DUX 13",
        description: "Технологичный дизайн данных дисков ломает стереотипы и заставляет взглянуть по-новому на привычные формы. Заходящие на обод спицы, граненые линии и сглаженные очертания - это все притягивает внимание и делает диск DUX 13 неповторимым.",
        url: "https://cdn.alexsab.ru/pages/toyota/legkosplavnye-diski-khann/13.webp"
      },
      {
        title: "DUX 14",
        description: "Особенностью новой модели легкосплавного диска KHANN DUX 14 является Y-образная форма линий, которые формируют стремительный и впечатляющий дизайн. Специально для новой модели диска был разработан новый цвет: черный хром. Для любителей классических расцветок предусмотрены 2 базовых варианта окраски: серый матовый и серый глянцевый. Особое внимание уделено безопасности: DUX 14 испытаны по европейским нормам безопасности (Правила ЕЭК ООН №124), а также лицензированы для продажи на территории Евразийского экономического союза.",
        url: "https://cdn.alexsab.ru/pages/toyota/legkosplavnye-diski-khann/14.webp"
      },
    ],
  },
];
---

<Layout title={`Легкосплавные диски KHANN для ${brand} – Официальный дилерский центр ${brand} в ${legal_city_where}`} description={`Оригинальные легкосплавные диски KHANN для автомобилей ${brand}. Совершенствуйте стиль и безопасность вашего авто с высококачественными дисками от бренда KHANN (кхан)`}>
	<div class="container py-10 space-y-10 xl:space-y-14 content">
		<PageH1 h1={`Легкосплавные диски KHANN для ${brand}`} classes="text-3xl sm:text-4xl font-bold text-center" />
		<div class="italic font-semibold">
      <p>По своим уникальным свойствам (малая масса, высокая прочность, пластичность и упругость) кованые колеса KHANN значительно превосходят литые и штампованные колеса и идеально подходят для автомобилей марки Toyota.</p>
      <p>Наши специалисты с удовольствием подберут комплект дисков для Вашего автомобиля.</p>
      <p>Подробную консультацию вы можете получить по тел.: <a href={`tel:${phoneFormat(phone_common)}`}>{phone_common}</a></p>
    </div>
	</div>

  {sections.map(section => (
    <UniversalSection section={section} />
  ))}

</Layout>