---
import Layout from '@/layouts/Layout.astro';
import settings from '@/data/settings.json';
import PageH1 from '@/components/PageH1/Index.astro';
import Table from '@/components/Table/Table.astro';

const { brand, legal_city_where } = settings;
const accessories = [
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/1.webp",
    "name": "АМОРТИЗАТОРЫ КАПОТА TOYOTA RAV4 (2019)",
    "article": "RW9HR-42110",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/2.webp",
    "name": "БРЫЗГОВИКИ, К-Т, COROLLA 19",
    "article": "PW389-02000",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/3.webp",
    "name": "ВЕРТИКАЛЬНАЯ СЕТКА БАГАЖНИКА, CAMRY 18",
    "article": "PW250-06000",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/4.webp",
    "name": "ДЕФЛЕКТОРЫ ОКОН, К-Т, С ХРОМ. ПОЛОСОЙ, RAV4 19",
    "article": "08162-42810",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/5.webp",
    "name": "ЗАЩИТА КАРТЕРА  HILUX 15,  СТАЛЬ",
    "article": "PZ4AL-02932-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/6.webp",
    "name": "ЗАЩИТА КАРТЕРА  LC200 4,5TD /LX 15, АЛЮМИНИЙ",
    "article": "PZ4AL-03004-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/7.webp",
    "name": "ЗАЩИТА КАРТЕРА LC200 4,5TD /LX450D 15, сталь",
    "article": "PZ4AL-03003-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/8.webp",
    "name": "ЗАЩИТА КАРТЕРА И КПП CAMRY 2018, АЛЮМИНИЙ",
    "article": "PZ4AL-03012-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/9.webp",
    "name": "ЗАЩИТА КАРТЕРА И КПП CAMRY 2018, СТАЛЬ",
    "article": "PZ4AL-03011-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/10.webp",
    "name": "Защита картера и КПП RAV4 2L и NX200 AWD, сталь NEW",
    "article": "PZ4AL-01876-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/11.webp",
    "name": "ЗАЩИТА КАРТЕРА И КПП СТАЛЬ, (1,6 CVT FWD), COROLLA 19",
    "article": "PZ4AL-03521-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/12.webp",
    "name": "ЗАЩИТА КАРТЕРА И КПП, АЛЮМИНИЙ (3 ММ), RAV4 19",
    "article": "PZ4AL-03808-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/13.webp",
    "name": "ЗАЩИТА КАРТЕРА И КПП, СТАЛЬ (2 ММ), RAV4 19",
    "article": "PZ4AL-03807-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/14.webp",
    "name": "ЗАЩИТА КПП HILUX 15, СТАЛЬ",
    "article": "PZ4AL-02934-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/15.webp",
    "name": "Защита КПП LC150/GX460, алюминий",
    "article": "PZ4AL-01696-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/16.webp",
    "name": "Защита КПП LC150/GX460, сталь",
    "article": "PZ4AL-01699-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/17.webp",
    "name": "ЗАЩИТА КПП LC200 4,5TD /LX450D 11/15, СТАЛЬ",
    "article": "PZ4AL-03005-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/18.webp",
    "name": "ЗАЩИТА КПП LC200 4,5TD /LX450D 12/15, АЛЮМИНИЙ",
    "article": "PZ4AL-03006-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/19.webp",
    "name": "К-Т ЗАЩИТ КОЛЕСНЫХ АРОК С ШУМОИЗ TOYOTA LC150 17,4 ЭЛЕМ.",
    "article": "RW4AN-60140",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/20.webp",
    "name": "К-Т ЗАЩИТ КОЛЕСНЫХ АРОК С ШУМОИЗ, CAMRY 18",
    "article": "RW4AN-06020",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/21.webp",
    "name": "К-Т ЗАЩИТ КОЛЕСНЫХ АРОК С ШУМОИЗ, RAV4 19",
    "article": "RW4AN-420203",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/22.webp",
    "name": "К-Т ЗАЩИТ КОЛЕСНЫХ АРОК, CAMRY 18",
    "article": "RW4AN-060101",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/23.webp",
    "name": "К-Т ЗАЩИТ КОЛЕСНЫХ АРОК, COROLLA 19",
    "article": "RW4AN-020101",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/24.webp",
    "name": "К-Т ЗАЩИТ КОЛЕСНЫХ АРОК, RAV4 19",
    "article": "RW4AN-42010",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/25.webp",
    "name": "КОВРИК БАГАЖНИКА, CAMRY 2018, ЧЕРНЫЙ",
    "article": "PW241-06000",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/26.webp",
    "name": "КОВРИК БАГАЖНИКА, РЕЗИН., RAV4 19",
    "article": "PW241-42000",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/27.webp",
    "name": "КОВРИК БАГАЖНИКА, ЧЕРНЫЙ, COROLLA 19",
    "article": "PW241-02010",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/28.webp",
    "name": "КОВРИК В БАГАЖНИК TOYOTA FORTUNER 17, ЧЕРНЫЙ",
    "article": "RW2TN-0K110-C0",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/29.webp",
    "name": "КОВРИК В БАГАЖНИК TOYOTA LC200 12/15, 5 МЕСТ, ЧЕРН., 1 ШТ.",
    "article": "RW2TN-60110-C0",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/30.webp",
    "name": "Коврик всесезонный черный, к-т, CAMRY 2011",
    "article": "PZ4N1-V0350-RJ",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/31.webp",
    "name": "КОВРИК ТЕКСТИЛЬНЫЙ, ЧЕРНЫЙ, COROLLA 19",
    "article": "PW210-02032",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/32.webp",
    "name": "КОВРИКИ ТЕКСТИЛЬНЫЕ, CAMRY 18",
    "article": "PW210-06000-C0",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/33.webp",
    "name": "Колесная гайка COROLLA/AURIS/CAMRY 11, комплект (секретки)",
    "article": "PW456-00000",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/34.webp",
    "name": "КОЛЕСНЫЕ ГАЙКИ-СЕКРЕТКИ",
    "article": "PW456-00001",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/35.webp",
    "name": "КОЛЕСНЫЙ ДИСК 18\", СЕРЕБ., CAMRY 18",
    "article": "42611-06E50",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/36.webp",
    "name": "КОЛЕСНЫЙ ДИСК ЧЕРН., 17\", CAMRY 11/14",
    "article": "PW457-06000-MB",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/37.webp",
    "name": "КОМПЛ. ДАТЧИКОВ ДАВЛЕНИЯ ШИН, 4 ШТ",
    "article": "42607-02031-VK",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/38.webp",
    "name": "КОМПЛ. ДАТЧИКОВ ДАВЛЕНИЯ ШИН, 4 ШТ.",
    "article": "42607-48020-VK",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/39.webp",
    "name": "КОМПЛЕКТ STARLINE GPS-МАСТЕР",
    "article": "STESG-PSMGG-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/40.webp",
    "name": "КОМПЛЕКТ STARLINE GSM-МАСТЕР",
    "article": "STESG-SMMGG-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/41.webp",
    "name": "КОМПЛЕКТ ЗАЩИТ КОЛЕСНЫХ АРОК,  4 ШТ., LC200 15 (без крепежа)",
    "article": "RW4AN-60010",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/42.webp",
    "name": "КОМПЛЕКТ ЗАЩИТ КОЛЕСНЫХ АРОК, TOYOTA HILUX, 15, 4 ЭЛЕМ.",
    "article": "RW4AN-0K010",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/43.webp",
    "name": "Комплект защитных сеток, LC200 15",
    "article": "RW4NP-60010",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/44.webp",
    "name": "КОМПЛЕКТ КОВР. ДЛЯ БАГ. И 3-ГО РЯДА TOYOTA LC200 07/10/12/15,7 МЕСТ",
    "article": "RW2TN-60120-C0",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/45.webp",
    "name": "МЕХАНИЧЕСКИЙ ЗАМОК КПП (6AT), CAMRY 18",
    "article": "RW9LB-06010",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/46.webp",
    "name": "МЕХАНИЧЕСКИЙ ЗАМОК КПП TOYOTA C-HR, CVT, 19",
    "article": "RW9LB-10031",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/47.webp",
    "name": "МЕХАНИЧЕСКИЙ ЗАМОК КПП TOYOTA COROLLA 19 (CVT)",
    "article": "RW9LB-02130",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/48.webp",
    "name": "МЕХАНИЧЕСКИЙ ЗАМОК КПП, TOYOTA RAV4 19 (CVT, 8AT)",
    "article": "RW9LB-42130",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/49.webp",
    "name": "ОХРАННАЯ СИСТЕМА PANDECT X-1900BT",
    "article": "RW6AP-X1900-B0",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/50.webp",
    "name": "ОХРАННАЯ СИСТЕМА PANDORA DX 9X",
    "article": "RW6AP-DX9X0-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/51.webp",
    "name": "РЕМОНТНЫЙ КОМПЛЕКТ ДЛЯ ШИН",
    "article": "42606-F4903",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/52.webp",
    "name": "СИГНАЛИЗАЦИЯ STARLINE B96 2CAN+LIN",
    "article": "STESA-B9600-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/53.webp",
    "name": "СИГНАЛИЗАЦИЯ STARLINE B96 2CAN+LIN GSM-GPS",
    "article": "STEST-B96GG-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/54.webp",
    "name": "СИГНАЛИЗАЦИЯ STARLINE E9",
    "article": "STESA-E9600-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/55.webp",
    "name": "СИГНАЛИЗАЦИЯ STARLINE S9-GSM",
    "article": "STEST-S96G0-00",
  },
  {
    "image": "https://cdn.alexsab.ru/b/toyota/img/accessories/56.webp",
    "name": "СИГНАЛИЗАЦИЯ STARLINE S9-PRO-GSM-GPS",
    "article": "STEST-S96GG-00",
  }
];
---

<Layout title={`Оригинальные аксессуары для автомобилей ${brand} – Официальный дилерский центр ${brand} в ${legal_city_where}`} description={`Широкий выбор оригинальных аксессуаров для автомобилей ${brand}. Улучшите комфорт, стиль и функциональность вашего авто с сертифицированными аксессуарами от официального дилера ${brand} в ${legal_city_where}.`}>
	<div class="container py-10 space-y-10 xl:space-y-14 content">
		<PageH1 h1={`Оригинальные аксессуары ${brand}`} classes="text-3xl sm:text-4xl font-bold text-center" />
		<div class="overflow-auto sm:overflow-visible min-w-full">
      <Table 
        data={accessories} 
        head={['Фото', 'Наименование', '№ по каталогу']} 
        popupText="Узнать подробнее <br/>"
        lightbox={true}
        lightboxId="gallery-accessories"
      />
		</div>
	</div>

</Layout>