---
import Layout from '@/layouts/Layout.astro';
import settings from '@/data/site/settings.json';
import modelsData from '@/data/site/models.json';
import PageH1 from '@/ui/page-h1/PageH1.astro';
import CardMedia from '@/ui/card-media/CardMedia.astro';
import Button from '@/ui/button/Button.astro';

const { brand, legal_city_where } = settings;
const { models } = modelsData;
const files = {
	'camry': 'https://cdn.alexsab.ru/manuals/toyota/stavropol/manual-toyota-camry.pdf',
	'land-cruiser-prado': 'https://cdn.alexsab.ru/manuals/toyota/stavropol/manual-toyota-land-cruiser-prado.pdf',
	'highlander': 'https://cdn.alexsab.ru/manuals/toyota/stavropol/manual-toyota-highlander.pdf',
	'rav4': 'https://cdn.alexsab.ru/manuals/toyota/stavropol/manual-toyota-rav4.pdf',
}
---

<Layout title={`Руководства по эксплуатации автомобилей ${brand} – Официальный дилер ${brand} в ${legal_city_where}`} description={`Посмотрите или скачайте официальные руководства по эксплуатации автомобилей ${brand}. Полезная информация для владельцев: инструкции по вождению, эксплуатацииб технические характеристики автомобилей от официального дилера ${brand} в ${legal_city_where}.`}>
	<div class="container py-10 space-y-10 xl:space-y-14 content">
		<PageH1 h1={`Руководства по эксплуатации ${brand}`} classes="text-3xl sm:text-4xl font-bold text-center" />

		{!!models.length && models.map((model, idx) => (
			!!files[model.id] && (
				<CardMedia imgPlacement={idx % 2 === 0 ? 'left' : 'right'}>
					<img slot="card-image" class="max-w-48 lg:p-10" src={model.thumb} alt={model.name} />
					<Fragment slot="card-content">
						<h2 class="!m-0 !p-0 before:hidden !text-xl lg:!text-3xl">Руководство по эксплуатации <span class="font-semibold">{model.name}</span></h2>
							<div class="flex gap-3">
								<Button view="link" classes="!m-0 btn" url={files[model.id]} target="_blank" title="Посмотреть" />
								<Button view="link" classes="!m-0 btn btn-o" url={files[model.id]} download title="Скачать"/>
							</div>
					</Fragment>
				</CardMedia>
			)
		))}
		
	</div>
</Layout>