---
import Layout from '@/layouts/Layout.astro';
import settings from '@/data/settings.json';
import PageH1 from '@/components/PageH1/Index.astro';
import Table from '@/components/Table/Table.astro';

const { brand, legal_city_where } = settings;
const accessories = [
  {
    "image": "https://cdn.alexsab.ru/specials/toyota/zimnie-shiny-aktsiia/1.webp",
    "name": "Michelin X-ICE 3",
    "size": "205/55 R16",
  },
  {
    "image": "https://cdn.alexsab.ru/specials/toyota/zimnie-shiny-aktsiia/2.webp",
    "name": "NOKIAN HAKKAPELIITTA R2",
    "size": "215/60 R17",
  },
  {
    "image": "https://cdn.alexsab.ru/specials/toyota/zimnie-shiny-aktsiia/3.webp",
    "name": "Kumho KW-31",
    "size": "215/60 R17",
  },
  {
    "image": "https://cdn.alexsab.ru/specials/toyota/zimnie-shiny-aktsiia/4.webp",
    "name": "Michelin X-ICE 3",
    "size": "215/60 R17",
  },
  {
    "image": "https://cdn.alexsab.ru/specials/toyota/zimnie-shiny-aktsiia/5.webp",
    "name": "Michelin X-ICE 3",
    "size": "225/60 R18",
  },
  {
    "image": "https://cdn.alexsab.ru/specials/toyota/zimnie-shiny-aktsiia/6.webp",
    "name": "Michelin X-ICE 2",
    "size": "225/60 R17",
  },
  {
    "image": "https://cdn.alexsab.ru/specials/toyota/zimnie-shiny-aktsiia/7.webp",
    "name": "Michelin X-ICE 3",
    "size": "235/45 R18",
  },
  {
    "image": "https://cdn.alexsab.ru/specials/toyota/zimnie-shiny-aktsiia/8.webp",
    "name": "Michelin X-ICE 2",
    "size": "265/60 R18",
  },
  {
    "image": "https://cdn.alexsab.ru/specials/toyota/zimnie-shiny-aktsiia/9.webp",
    "name": "Michelin X-ICE 2",
    "size": "265/65 R17",
  }
];
---

<Layout title={`Акции на зимние шины для ${brand} – Выгодные предложения`} description={`Специальные акции на зимние шины для автомобилей ${brand}. Получите качественные зимние шины по выгодным ценам от официального дилера ${brand} в ${legal_city_where}. Надежность и безопасность на зимних дорогах.`}>
	<div class="container py-10 space-y-10 xl:space-y-14 content">
		<PageH1 h1={`Зимние шины - Акция!`} classes="text-3xl sm:text-4xl font-bold text-center" />
		<div class="overflow-auto sm:overflow-visible min-w-full">
			<Table 
        data={accessories} 
        head={['Фото', 'Наименование', 'Размер']} 
        popupText="Узнать подробнее <br/>"
        lightbox={true}
        lightboxId="gallery-accessories"
      />
		</div>
	</div>

</Layout>